@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light: #FCF3E9;
}

@font-face {
    font-family: "uthmani";
    src: url(/uthmani-new.ttf);

}

body{
    font-family: "raleway";
    background-color: #FFFAF5;
}
.surahEngName{
    font-family: "raleway";
    font-size: 20px;
    font-weight: 600
}
.surahEngMeaningName{
    font-family: "raleway";
    font-size: 20px;
    font-weight: 400
}
.loadingSvg {
    font-family: 'Russo One', sans-serif;
}

.loadingSvg  text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 140px;
}
.surahLoadingSvg {
    font-family: 'Russo One', sans-serif;
}

.surahLoadingSvg  text {
    text-transform: uppercase;
    animation: stroke 2s infinite alternate;
    stroke-width: 2;
    stroke: #365fa0;
    font-size: 140px;
}


@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: rgba(54, 95, 160, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(72, 138, 204, 1);
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.ant-btn {
    color: aliceblue;
    background-color: #646cff;
    transition: all 0.3s;
}
